.locationlogo{
    width: 18px;
    margin: 10px;
}
.locationInput{
    width: 14vw;
    border: none;
    font-size: 15px;
    outline: none;
}
.locationInput:hover{
    cursor: pointer;
  }
.searchInput{
    width: 21vw;
    border: none;
    font-size: 15px;
    outline: none;
}
.searchInput:hover{
    cursor: pointer;
  }