.container{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
    /* background-color: aqua; */
    /* overflow-x: scroll; */
}