.homepageContainer {
    width: 1180px;
    margin: auto;
    margin-top: 10px;
    color: #414146;
    overflow-x: hidden;
}


/*---mid-cont start---*/
.homeConsult {
    text-align: left;
    position: relative;
}


.homeConsult>h2:nth-of-type(1), .homeAppoinments>h2:nth-of-type(1) {
    font-weight: 700;
    font-size: 24px;
}

@media all and (max-width: 500px){
    .homeConsult>h2:nth-of-type(1), .homeAppoinments>h2:nth-of-type(1){
        font-size: 20px;
      
    }
}



.homeConsult>p:nth-of-type(1) {
    margin-top: 5px;
    font-size: 14px;
}

.homeConsultCardContainer {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 15% 15% 15% 15%  15% 15%;
    grid-template-rows: 200px;
    column-gap: 20px;
    
}

@media all and (max-width: 1000px){
    .homeConsultCardContainer{
        grid-template-columns: 15% 15% 15% 15%;
        grid-template-rows: 200px 200px;
      
    }
}

@media all and (max-width: 500px){
    .homeConsultCardContainer{
        grid-template-columns: 15% 15%;
        grid-template-rows: 200px 200px 200px;
      
    }
}

.homeAppoinments {
    text-align: left;
    margin-top: 50px;
    overflow-x: hidden;
}

.homeAppoinments>p:nth-of-type(1) {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.5;
}

.homeAppoinments>h3:nth-of-type(1) {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 17px;
}

.homeTopArticles {
    margin-top: 60px;
    border-top: 1px solid #dfdfe5;
    border-bottom: 1px solid #dfdfe5;
    padding: 50px 110px 30px 110px;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 300px;
    column-gap: 5%;





}


@media all and (max-width: 1000px){
    .homeTopArticles{
        grid-template-columns: 30% 30%;
        grid-template-rows: 300px 300px;
      
    }
}

@media all and (max-width: 600px){
    .homeTopArticles{
        grid-template-columns: 30%;
        grid-template-rows: 300px 300px;
      
    }
    .homeTopArticlesInfo>h2:nth-of-type(1) {
        font-size: 20px;
    }
    .homeTopArticlesInfo>p:nth-of-type(1) {
        font-size: 10px;
    }
}

.homeTopArticlesInfo {
    margin-right: 10px;
    padding: 20px;
    width: 360px;
    text-align: left;
}

.homeTopArticlesInfo>h2:nth-of-type(1) {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
}

.homeTopArticlesInfo>p:nth-of-type(1) {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 14px;
}

.button {
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #14bef0;
}

/*---mid-cont end---*/